# Python
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/

# Dataset
*.csv
*.json

# Models and Checkpoints
Model/
RDF_model.pkl
trained_plant_disease_model.keras

# System Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

test/
train/
valid/