# Python
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/

# Dataset
*.csv
*.json

# Models and Checkpoints
*.h5
*.keras
*.pkl

# System Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
